
body {
  background-color: #1d1e22;
}

.page-header {
  margin: 20px 0 0 0;
  text-align: center;
  color: #feda6a;
  font-family: 'IBM Plex Mono', monospace;
}

hr {
  background-color: #d4d4dc;
}
  
h5 {
  color: #feda6a;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.btn {
  margin: 0px 10px 15px 0;
  background-color: #393f4d;
  color: #d4d4dc;
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: capitalize;
}
  
.card {
  margin: 5px 0 0 5px;
  background-color: #393f4d;
  color: #feda6a;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
}

.card-buttons {
  background-color: #1d1e22;
  color: #feda6a;
}

#search-button {
  color: #feda6a;
}
  
  
  