.page-header {
    margin: 20px 0 0 0;
    text-align: center;
  }
  
  .btn {
    margin: 20px 10px 15px 0;
  }
  
  .card {
    margin: 5px 0 0 5px;
    display: inline-block;
    text-transform: uppercase;
  }

  /* .card-img {
    display: inline-block;
  } */
  
  
  